
#app{
    box-sizing: border-box;
    color:rgb(32, 32, 105);
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    --webkit-font-smoothing:antialiased;
    --moz-osz-font-smoothing:grayscale;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  
  .container{
    padding-bottom: 4rem;
  }
}